<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Ventas</title>
</head>
<body>
    <h1>Reporte de Ventas</h1>
    <form method="GET">
        <label for="fecha_inicio">Fecha de Inicio</label>
        <input type="data" name="fecha_inicio" id="fecha_inicio">

        <label for="fecha_fin">Fecha de Inicio</label>
        <input type="data" name="fecha_fin" id="fecha_fin">

        <label for="cliente_id">Cliente</label>
        <select name="cliente_id">
            <option value="">Todos los clientes</option>
            { % for cliente in clientes % } 
                <option value="{{cliente.id}}">{{cliente.nombre}}</option>
            { % endfor % }
        </select>

        <label for="producto_id">Cliente</label>
        <select name="producto_id">
            <option value="">Todos los Productos</option>
            { % for producto in productos % } 
                <option value="{{producto.id}}">{{producto.nombre}}</option>
            { % endfor % }
        </select>
        <button type="submit">Generar reporte</button>
    </form>

    <h2>Ventas filtradas</h2>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Producto</th>
                <th>Cliente</th>
                <th>Cantidad</th>
                <th>Tota</th>
            </tr>
        </thead>
        <tbody>
                { % for venta in venta % }
                <tr>
                <th>{{venta.fecha_venta}}</tr>
                <th>{{venta.producto.nombre}}</tr>
                <th>{{venta.cliente.nombre}}</tr>
                <th>{{venta.cantidad}}</tr>
                <th>{{venta.total}}</tr>
                </tr>
                { % endfor % }
        </tbody>
    </table>

    <a href="{ % url 'exportar_reporte_ventas_csv' % }?fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{request.GET.fecha_fin}}&cliente_id={{request.GET.cliente_id}}&producto_id={{request.GET.producto_id}}">Exportar reporte a csv</a>

</body>
</html>