<!DOCTYPE html>
<html lang="es">
<head>
    <title>agregar producto</title>
</head>
<body> 
    <h1>Agregar nuevo producto</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        {% if form.errors %}
             <ul>
                {% for field in form %}
                {% if field.errors %}  <!-- Muestra errores específicos de cada campo -->
                    <li>{{ field.label }}: {{ field.errors }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <button type="submit"> Guardar Producto </button>
    </form>
    <br> 
    <a href="{% url 'listar_productos' %}">Ver productos</a>
    <br> 
    <br> 
    <a href="{% url 'listar_clientes' %}">Ver clientes</a>
</body>
</html>