<!DOCTYPE html>
<html lang="es">
<head>
    <title>Lista de productos</title>
</head>
<body>
    <h1>lista de Productos</h>
        <form method="get">
            Precio minimo: <input type="number" name="precio_min">
            Precio maximo: <input type="number" name="precio_max">
            <button type="submit">Filtrar por precio</button>
        </form>
         <form method="get">
            Buscar: <input type="text" name="q">
            <button type="submit">Filtrar por nombre o descripcion</button>
        </form>
    <ul>
        {% for producto in productos %}
        <li>{{ producto.nombre }} - {{ producto.precio }} - {{ producto.descripcion }} - {{ producto.stock }}</li>
        {% endfor %}
    </ul>
    <br>
    <div>
        {% if productos.has_previous %}
            <a href="?page={{ productos.previous_page_number }}">Anterior</a>
        {% endif %}
        <span>Pagina {{ productos.number }} de {{ productos.paginator.num_pages }}</span>
        {% if productos.has_next %}
            <a href="?page={{ productos.next_page_number }}">Siguente</a>
        {% endif %}
    </div>
    <br>
    <a href="{% url 'agregar_producto' %}">Agregar Nuevo Producto</a>
    <br>
    <br>
    <a href="{% url 'listar_clientes' %}">Ver Clientes</a>
    <br>
    <br>
    <a href="{% url 'inicio' %}">Volver inicio</a>
</body>
</html>