<!DOCTYPE html>
<html lang="es">
<head>
    <title>lista de clientes</title>
</head>
<body>
    <h1>lista de clientes</h>
    <ul>
        {% for cliente in clientes%}
        <li>{{ cliente.nombre }} - {{ cliente.email }} - {{ cliente.telefono }}</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'agregar_cliente' %}">Agregar Nuevo Cliente</a>
    <br>
    <br>
    <a href="{% url 'listar_productos' %}">Ver Productos</a>
    <br>
    <br>
    <a href="{% url 'inicio' %}">Volver inicio</a>
</body>
</html>